body,
html {
    height: 100%;
}

.bg {
    background-image: url("images/mobile_bg2.jpg");
    /*background-position: center;*/
    /*background-size: cover;*/
    background-repeat: repeat;
    max-height: 100%;
}

.chefimage {
    /*padding-top: 10px;*/
    /*padding-left: 120px;*/
    text-align: center;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.chefimage img {
    display: inline-block;
    padding-bottom: 45px;
    /*padding-left: 150px;*/
}

.chefimage input {
    display: inline-block;
    padding-top: 150px;
    text-align: left;
    /*padding-left: 150px;*/
}

.gameHeadding {
    /*padding-left: 200px;*/
    text-align: center;
    padding-top: 50px;
    font-family: 'Eagle Lake', cursive;
    font-weight: 50px;
    color: yellow;
    font-size: 60px;
}

/*.gameHeadding img {*/

/*    position: absolute;*/

/*    padding-top: 20px;*/

/*    padding-left: 200px;*/

/*    display: none;*/

/*}*/

.gameHeadding span {
    /*font-weight: bolder;*/
}

.challange-row {
    position: relative;
}

#recipe-card {
    margin-top: 80px;
    background-color: #ffe6ff;
    border-radius: 100px / 50px;
}

#item {
    text-align: center;
    font-size: 40px;
    font-family: 'Walter Turncoat', cursive;
    color: Orange;
}

#study_item {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: red;
    font-family: 'Indie Flower', cursive;
}

#image_row {
    padding-top: 30px;
}

.challange-row1 {
    display: none;
}

#time {
    font-family: 'Walter Turncoat', cursive;
    color: pink;
    font-size: 40px;
}

#score_para,
#score {
    font-family: 'Walter Turncoat', cursive;
    color: blue;
    font-size: 40px;
    text-align: right;
}

.basket {
    text-align: center;
}

#challenge-card {
    /*margin-top:10px;*/
    background-color: #f5ccff;
    border-radius: 80px / 30px;
}

.right {
    float: right;
    font-family: 'Indie Flower', cursive;
}

.butn {
    font-family: 'Walter Turncoat', cursive;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#confirm .message {
    text-align: center;
}

.message {
    font-size: 30px;
    font-weight: 30px;
    font-family: 'Walter Turncoat', cursive;
    color: green;
    padding-top: 30px;
}

#itemChallange {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: red;
    font-family: 'Indie Flower', cursive;
}

#imgchallnge-0 {
    position: absolute;
    z-index: 2;
}

#imgchallnge-1 {
    position: absolute;
    z-index: 2;
}

#imgchallnge-2 {
    position: absolute;
    z-index: 2;
}

#imgchallnge-3 {
    position: absolute;
    z-index: 2;
}

#imgchallnge-4 {
    position: relative;
    z-index: 2;
}

#imgchallnge-5 {
    position: absolute;
    z-index: 2;
}

.imgchallnge-0-move {
    animation: move 1s forwards;
}

.imgchallnge-1-move {
    animation: move1 1s forwards;
}

.imgchallnge-2-move {
    animation: move2 1s forwards;
}

.imgchallnge-3-move {
    animation: move3 1s forwards;
}

.imgchallnge-4-move {
    animation: move4 1s forwards;
}

.imgchallnge-5-move {
    animation: move5 1s forwards;
}

@keyframes move {
    0% {
        top: 0%;
        left: 0%;
    }
    100% {
        top: 120%;
        left: 150%;
    }
}

@keyframes move1 {
    0% {
        top: 0%;
        left: 0%;
    }
    100% {
        top: 130%;
        left: 105%;
    }
}

@keyframes move2 {
    0% {
        top: 0px;
        right: 0%;
    }
    100% {
        top: 150%;
        right: 10%;
    }
}

@keyframes move3 {
    0% {
        top: 0%;
        right: 0%;
    }
    100% {
        top: 150%;
        right: 50%;
    }
}

@keyframes move4 {
    0% {
        top: 0%;
        right: 0%;
    }
    100% {
        top: 130%;
        right: 70%;
    }
}

@keyframes move5 {
    0% {
        top: 0%;
        right: 0%;
    }
    100% {
        top: 120%;
        right: 150%;
    }
}

/**********************************/

#confirm {
    display: none;
    background-color: #e6ffb3;
    border: 1px solid #aaa;
    position: fixed;
    left: 35%;
    top: 35%;
    text-align: center;
    width: 400px;
    height: 200px;
    border-radius: 100px / 50px;
}

#confirm button {

    display: inline-block;
    border-radius: 12px;
    border: 4px solid #aaa;
    padding: 5px;
    text-align: center;
    width: 60px;
    cursor: pointer;
}

#close_confirm {
    background-color: green;
}

#exit_confirm {
    background-color: red;
}

/**********************************************************************/

@media only screen and (max-width: 1024px) {
    .score_time {
        padding-top: 80px;
    }
    .gameHeadding {
        font-size: 100px;
        padding-top: 250px;
    }
    .chefimage {
        padding-top: 200px;
    }
    #recipe-card {
        margin-top: 350px;
    }
    #challenge-card {
        margin-top: 350px;
    }
    #confirm {
        top: 40%;
        left: 35%;
    }
}

@media only screen and (max-width: 768px) {

    .score_time {
        padding-top: 60px;
    }
    .gameHeadding {
        font-size: 100px;
        padding-top: 150px;
    }
    .chefimage {
        padding-top: 120px;
    }
    #recipe-card {
        margin-top: 150px;
    }
    #challenge-card {
        margin-top: 150px;
    }
    #confirm {
        top: 40%;
        left: 25%;
    }
}



@media only screen and (max-width: 479px) {

  
    .score_time {
        padding-top: 10px;
    }
    #time {
        font-size: 30px;
        color: red;
    }
    #resetbtn {
        width: 30px;
        height: 30px;
    }
    #score_para {
        font-size: 30px;
    }
    #score {
        font-size: 30px;
    }
    .gameHeadding {
        font-size: 50px;
        padding-top: 20px;
        color: blue;
    }
    .chefimage {
        padding-top: 20px;
    }
    .chefimage input {
        padding-top: 5px;
    }

    #image_row {
        padding-top: 5px;
    }
    #recipe-card {
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    #recipe img {
        padding-top: 5px;
        /*width: 55px;*/
        /*height: 60px;*/
    }

    #item {
        font-size: 30px
    }
    #study_item {
        font-size: 20px;
    }

    #challenge-card {
        margin-top: 10px;
        text-align: center;
        width: 300px;
    }
    #confirm {
        top: 40%;
        left: 0%;
        width: 325px;
    }
    .message {
        font-size: 20px;
    }
    .challange-row {
        display: none;
    }
    #imgchallnge-0 {
        position: relative;
    }
    #imgchallnge-1 {
        position: relative;
    }
    #imgchallnge-2 {
        position: relative;
    }
    #imgchallnge-3 {
        position: relative;
    }
    #imgchallnge-4 {
        position: relative;
    }
    #imgchallnge-5 {
        position: relative;
    }
    .imgchallnge-0-move {
        animation: move00 1s forwards;
    }
    .imgchallnge-1-move {
        animation: move01 1s forwards;
    }

    .imgchallnge-2-move {
        animation: move02 1s forwards;
    }

    .imgchallnge-3-move {
        animation: move03 1s forwards;
    }

    .imgchallnge-4-move {
        animation: move04 1s forwards;
    }

    .imgchallnge-5-move {
        animation: move05 1s forwards;
    }
}

@keyframes move00 {
    0% {
        top: 0%;
        left: 0%;
    }
    100% {
        top: 500%;
        left: 10%;
    }
}

@keyframes move01 {
    0% {
        top: 0%;
        left: 0%;
    }
    100% {
        top: 330%;
        left: 5%;
    }
}

@keyframes move02 {
    0% {
        top: 0%;
        left: 0%;
    }
    100% {
        top: 360%;
        right: 20%;
    }
}

@keyframes move03 {
    0% {
        top: 0%;
        left: 0%;
    }
    100% {
        top: 220%;
        right: 15%;
    }
}

@keyframes move04 {
    0% {
        top: 0%;
        left: 0%;
    }
    100% {
        top: 90%;
        left: 20%;
    }
}

@keyframes move05 {
    0% {
        top: 0%;
        left: 15%;
    }
    100% {
        top: 50%;
        left: 10%;
    }
}
